<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css" />
    <title>Zoom Clone Coding</title>
  </head>
  <body>
    <header>
      <h2>Zoom Clone Coding</h2>
    </header>
    <main>
      <div id="welcome">
        <form>
          <input type="text" placeholder="방 이름" />
          <button>방 입장</button>
        </form>
        <h4>방 이름 들:</h4>
        <ul></ul>
      </div>
      <div id="room">
        <h3></h3>
        <ul></ul>
        <form id="nickname">
          <input type="text" placeholder="닉네임" />
          <button>설정</button>
        </form>
        <form id="msg">
          <input type="text" placeholder="메시지" />
          <button>보내기</button>
        </form>
      </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/app.js"></script>
  </body>
</html>
