<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css" />
    <title>Zoom Clone Coding</title>
  </head>
  <body>
    <header>
      <h2>Zoom Clone Coding</h2>
    </header>
    <main>
      <form id="nicknameForm">
        <input type="text" placeholder="닉네임" />
        <button>저장</button>
      </form>
      <ul></ul>
      <form id="messageForm">
        <input type="text" placeholder="새로운 메시지" />
        <button>보내기</button>
      </form>
    </main>
    <button type="button">Call</button>
    <script src="/public/js/app.js"></script>
  </body>
</html>
