<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css" />
    <title>Zoom Clone Coding</title>
  </head>
  <body>
    <header>
      <h2>Zoom Clone Coding</h2>
    </header>
    <main>
      <div id="welcome">
        <form>
          <input text="text" placeholder="방 이름" />
          <button>Enter room</button>
        </form>
      </div>
      <div id="call">
        <div id="myStream">
          <video
            id="myVideo"
            autoplay
            playsinline
            width="400"
            height="400"
          ></video>
          <button id="mute">소리 OFF</button>
          <button id="camera">카메라 OFF</button>
          <select id="cameras"></select>
          <video
            id="peersStream"
            autoplay
            playsinline
            width="400"
            height="400"
          ></video>
        </div>
      </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/app.js"></script>
  </body>
</html>
